
@media(min-width: 768px){

    h1 {
      font-size: 4em;
    }
    h6 {
      font-size: 1.5em;
    }
  
    .modal-content-div{
      align-items: center;
    }

    .modal-dialog-div {
      width: 50%;
      
    }
  
    .card.spotify {
      max-width: 20em;
    }

    .spotify-page {
      .list-group {
          max-height: 600px;
      }
    }  
  
  }