

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: $brand-pink;
    background-color: inherit;
    border-radius: 0;
    border-bottom: 2px solid $brand-pink;
}

.nav-link {
    padding: 0;
    margin: .5em .5em;
}