.parallax-window {
    position:fixed;
    height:100%;
    width: 100%;
    left: 0;
    background-size: 100%;   
    background-repeat: no-repeat;
}


.main-header {
    background: $brand-pink;
    transform: skewY(30deg);
    height: 400px;
    top: 500px;

}