// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.site-header {
    text-align: center;   
    margin-bottom: 0;
    // position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;

    .jumbotron {
        margin-bottom: 0;
        background: #000;
        color: #fff;
        border-radius: 0;
    }

    
}

.resume {
    top:610px;
    z-index: -2;

}

.section-title {
    font-size: 1em;
}

.section-item {
    font-size: 20px;
}

.skill {
    margin-bottom:20px;

}

.my-particles {
    position: absolute;
    width: 100%;
}

a {
    color: $brand-pink;
}

.badge-pink {
    background-color: $brand-pink;
    color:white;

}




  
//   @media(min-width: 940px){
//     .site-title {
//         font-size: 3em;
//     }
  
//     .resume {
//         top: 500px;
//     }
//   }