// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.section {
    height: 100vh;
    position: relative;
    padding-top: 200px;
}
.section-title {
    font-size: 1em;
}

.section-item {
    font-size: 20px;
}

.skill {
    margin-bottom:20px;

}

.my-particles {
    position: absolute;
    width: 100%;
}

a {
    color: $brand-pink;
}

.badge-pink {
    background-color: $brand-pink;
    color:white;

}

.display-1 {
    font-weight: 900;
}


.background {
    height:100%;
    width: 100%;
    position: absolute;
    background: $brand-blue;
    transform: skew(50deg, 0deg);
}

// .background-2 {
//     height:100%;
//     width: 100%;
//     position: absolute;
//     background: $brand-blue;
//     transform: skew(-46deg);
// }
