.spotify-page {
    background-color: #2ecc71;
    font-family: 'Helvetica';

    .list-group {
        overflow: auto;
        max-height: 90%;
    }

    .header {
        color: white;
        padding: 1em;
    }

    .badge {
        font-size: 100%;
        padding: .75em;
        width: 100%;
        max-width: 10em;

    }
}

.card.spotify {
    border:0;
    border-radius: 0;
    margin: 15px;
    bottom: 0;
    transition: all .25s ease;
    padding: 0;
    width: 100%;

    .card-img-top {
        border-radius: 0;
    }

    &:hover {
        bottom: 10px;
        cursor: pointer;
    }

}




.spotify-banner {
    @extend .container;
    @extend .jumbotron;
}



.list-group-item {
    border: 0;
    border-bottom: 1px solid $mid-grey;
    margin: 0;
    padding: .5em;
}

.user-image {
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 10px;
}

.my-button {
    border: 2px solid #fff;
    border-radius: 0;
    background: none;
    color: #fff;
    transition: all .3s;
    padding: 2em;

    &:hover{
        background: #fff;
        color: #2ecc71;
    }
}

.error-page {
    background: #fff;
}

.badge-dance {
    color: white;


}