
/**
 * Basic typography style for copy text
 */


 .label {
     font-size: 25px;

 }

 .bold {
     font-weight: 500;
 }

 .light {
     font-weight: 200;
 }

 .normal {
     font-weight: 400;
 }

 .boldest {
    font-weight: 800;
}

h1 {
    margin:0;
}